html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Mariamne";
  src: url(../fonts/Mariamne.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url(../fonts/Oswald.ttf);
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu';
  src: url(../fonts/Ubuntu.ttf);
  font-display: swap;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.wrapper {
  overflow: hidden;
}

.slider {
  position: relative;
  height: 30vh;
}

.slider-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.slider-container__el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1d1d1d;
  overflow: hidden;
  width: 100%;
}

.slider-container__el > img {
  width: 100%;
}

.slider-btns {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #161616d4;
  width: 100%;
  height: 100%;
}

.slider-btns__el {
  width: 20%;
  height: 100%;
  cursor: pointer;
}

.slider-btns__el > img {
  width: 50px;
}

.slider-indecate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 60%;
  height: 100%;
}

.slider-indecate__el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 40px;
  cursor: pointer;
}

.slider-indecate__el > div {
  background-color: #b9b9b9;
  width: 60px;
  height: 10px;
}

.headerMainContainer {
  width: 100%;
  max-width: 1200px;
  color: white;
  padding: 20px;
  text-transform: uppercase;
  font-family: Mariamne;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.4rem;
}

header {
  width: 100%;
  background: black;
}

.headerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.burgerContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
}

.burgerContainer a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'Ubuntu';
}

.disnone {
  display: none;
}

#burgerMenu {
  width: 50px;
  background: none;
  border: 0;
  cursor: pointer;
}

#burgerMenu:enabled {
  outline: none;
}

.headerLogoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.3rem;
  text-align: center;
}

.headerLogoContainerCo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.headerLogoContainerCo > div {
  margin: 0 5px;
}

.firstThingViewContainer {
  width: 100%;
  background-image: url("../images/0.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.firstThingViewContainer img {
  width: 100%;
}

.transparentThing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000de;
}

.firstThingViewMaxWidth {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 10px;
  color: white;
}

.FTVLinksContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 20%;
  max-width: 200px;
}

.FTVLinksContainer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  width: 40px;
  height: 40px;
}

.mailRu {
  text-transform: none;
}

.FTVLogoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

.FTVLogoContainer > img {
  width: 100%;
}

.someContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.FTVThingsContainer {
  font-family: 'Ubuntu';
  width: 220px;
}

.FTVThingsContainer a {
  color: white;
}

.FTVThingsContainer > div, .FTVThingsContainer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 15px 0;
}

.FTVThingsContainer > div > div, .FTVThingsContainer a > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.FTVThingsContainer > div > div:nth-child(1), .FTVThingsContainer a > div:nth-child(1) {
  width: 30px;
  margin-right: 10px;
}

.FTVPhoneContainer, .FTVClock {
  text-transform: uppercase;
}

.desElIcon {
  width: 30px;
  height: 30px;
}

.headSection {
  width: 100%;
  color: #f1d43c;
  text-align: center;
  font-family: Oswald;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  border-top: 5px solid #b9b9b9;
  border-bottom: 5px solid #b9b9b9;
  margin: 10px 0px;
  padding: 20px;
}

.switch {
  display: none;
}

.desElName {
  font-family: Oswald;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.desElDes {
  font-family: Ubuntu;
}

.descriptionContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background: #1d1d1d;
}

.descriptionMainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.desElContainer {
  width: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  color: white;
}

.desElContainer div {
  text-align: center;
}

.desElContainer > div {
  margin: 5px 0;
}

.galleryMainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #1e1e1e;
}

.galleryContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 1200px;
}

.galEl {
  width: 50%;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-transition: -webkit-transform 0.7s;
  transition: -webkit-transform 0.7s;
  transition: transform 0.7s;
  transition: transform 0.7s, -webkit-transform 0.7s;
}

.galEl:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.white {
  color: white;
}

.bg-white {
  background: #efefef;
}

.mastersContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1d1d1d;
  width: 100%;
}

.mastersContainerCo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 1200px;
  padding-bottom: 20px;
}

.master {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
}

.masterImg img {
  width: 230px;
  height: 230px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.masterImgAnya {
  -o-object-position: -10px -50px;
     object-position: -10px -50px;
  background-color: #14192c;
}

.masterImgShura {
  -o-object-position: 0px 0px;
     object-position: 0px 0px;
}

.masterImgOlga {
  -o-object-position: 0px -5px;
     object-position: 0px -5px;
}

.masterImgArtem {
  -o-object-position: 0px -70px;
     object-position: 0px -70px;
}

.masterImgPasha {
  -o-object-position: -10px -50px;
     object-position: -10px -50px;
  background-color: white;
}

.masterName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  font-family: 'Oswald';
  font-weight: 700;
  font-size: 1.3rem;
  letter-spacing: 1px;
  text-decoration: none;
  color: #b9b9b9;
}

.master__styles {
  font-family: Oswald;
  font-weight: 100;
  letter-spacing: 1px;
  color: #f1d43c;
  text-transform: uppercase;
  margin-top: 10px;
}

.master__styel-img {
  width: 40px;
  margin-right: 10px;
}

.black {
  background: black;
  color: white;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #1d1d1d;
}

.contacsContainerCo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  padding-bottom: 20px;
  width: 100%;
  max-width: 1200px;
}

.contacsContainerCo img {
  width: 30px;
  margin-right: 10px;
}

.workTime {
  text-transform: uppercase;
}

.contacsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.2rem;
  font-family: Ubuntu;
}

.contacsContainer a {
  color: white;
}

.contacsContainer > div, .contacsContainer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

.googleMapMainContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #1d1d1d;
}

.googleMapContainer {
  width: 100%;
  max-width: 1200px;
}

.googleMapContainer iframe {
  width: 100%;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: black;
}

.footerConteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 15px;
  color: white;
  font-family: Mariamne;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 1.4rem;
  width: 100%;
  max-width: 1200px;
}

.footerConteiner img {
  width: 28px;
  height: 28px;
}

.footerName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  text-align: center;
}

.footerContainerForLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footerContainerForLinks a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px;
  width: 28px;
  height: 28px;
}

.aboutMaster {
  position: absolute;
  visibility: hidden;
  color: white;
  width: 100%;
  height: 101vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: auto;
  padding-top: 40px;
  padding-bottom: 20px;
  background: #1b1b1bf2;
}

.visibility {
  visibility: visible;
}

.aboutMCloseBtn {
  position: fixed;
  right: 10px;
  top: 10px;
  width: 50px;
  height: 50px;
  background: none;
  border: 0;
  cursor: pointer;
}

.aboutMCloseBtn:enabled {
  outline: 0;
}

.aboutMImg img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

.aboutMName {
  color: white;
  font-family: Oswald;
  font-size: 1.4rem;
}

.aboutMLinksContianer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 5px 0;
}

.aboutMLinksContianer img {
  width: 30px;
  height: 30px;
  margin: 0 5px;
}

.aboutMGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 900px;
}

.aboutMGallery img {
  width: 50%;
}

.aboutMMore {
  font-family: Oswald;
  font-size: 1.2rem;
  margin-top: 20px;
  color: white;
}

.aboutMMore a:visited {
  color: white;
}

.scrollOff {
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .switch {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .switchv2 {
    display: none;
  }
  .FTVLogoContainer {
    width: 40%;
  }
  .aboutMCloseBtn {
    right: 40px;
    top: 30px;
  }
  .slider {
    height: 40vh;
  }
}

@media only screen and (min-width: 1000px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .headerMainContainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .galEl {
    width: 25%;
  }
  #burgerMenu {
    display: none;
  }
  .disnone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .disNoneWhenNoBurgerBtn {
    display: none;
  }
  .burgerContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .burgerContainer a {
    margin: 0 5px;
  }
  .footerConteiner {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .slider {
    height: 50vh;
  }
}
/*# sourceMappingURL=style.css.map */